#solid {border-style: solid;}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover   {
    background-color: #3d9b42;
}
    
/* .menu li:hover {
    background-color: #0099cc;
  } */
  
h2  {
    color: #00a2c6
}
h1,h3 {
color: #10009e;
}